<header>
    <nav>
        <div class="logo">
            <a [routerLink]="['/home']"><img src="assets/src/logo.svg" alt="Logo EventHome"></a>
        </div>
        <ul class="nav-links">
            <li><a [routerLink]="['/home']" [routerLinkActive]="['active']" class="nav-link">Inicio</a></li>
            <li><a [routerLink]="['/events']" [routerLinkActive]="['active']" class="nav-link">Eventos</a></li>
            <li><a [routerLink]="['/organizations']" [routerLinkActive]="['active']" class="nav-link">Organizaciones</a></li>
            <ng-container *ngIf="!authService.isLogged(); else loggedInMobile">
                <div class="row d-lg-none auth-mobile">
                    <li class="login col-12 col-md-6"><a [routerLink]="['/login']" [routerLinkActive]="['active']">Iniciar sesión</a></li>
                    <li class="register col-12 col-md-6"><a [routerLink]="['/register']" [routerLinkActive]="['active']">Registrarse</a></li>
                </div>
            </ng-container>
            <ng-template #loggedInMobile>
                <div class="row d-lg-none auth-mobile">
                    <li class="login" *ngIf="userData"><a [routerLink]="['/profile', userData.userId]" [routerLinkActive]="['active']"><i class="fas fa-user"></i> Perfil</a></li>
                    <li class="logout"><a (click)="authService.logout()"><i class="fas fa-power-off"></i> Cerrar sesión</a></li>
                </div>
            </ng-template>
        </ul>
        <ul class="login-elements d-none d-lg-flex">
            <ng-container *ngIf="!authService.isLogged(); else loggedIn">
                <li class="login"><a [routerLink]="['/login']" [routerLinkActive]="['active']">Iniciar sesión</a></li>
                <li class="register"><a [routerLink]="['/register']" [routerLinkActive]="['active']">Registrarse</a></li>
            </ng-container>
            <ng-template #loggedIn>
                <li class="login" *ngIf="userData"><a [routerLink]="['/profile', userData.userId]" [routerLinkActive]="['active']"><i class="fas fa-user"></i> Perfil</a></li>
                <li class="logout"><a (click)="authService.logout()"><i class="fas fa-power-off"></i> Cerrar sesión</a></li>
            </ng-template>
        </ul>
        <div class="d-lg-none burger-button">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </nav>
</header>