<main>
    <div class="container" *ngIf="profile">
        <div>
            <h1>{{profile.name}}</h1>
            <div class="user-bio" *ngIf="profile.bio" [innerHTML]="profile.bio"></div>
            <!--<div *ngIf="profile.rol == 'organizer'">-->
                <div class="profile-actions">
                    <div *ngIf="_authService.isLogged() && profile._id == loguedUserId" class="profile-options-buttons">
                        <a [routerLink]="['/new-event']" *ngIf="profile.rol == 'organizer'" class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i> Crear nuevo evento</a>
                        <a [routerLink]="['/profile/edit', profile._id]" class="btn btn-primary"><i class="fas fa-edit"></i> Editar perfil</a>
                    </div>

                    <div *ngIf="profile.rol == 'organizer'" class="profile-block organizer-events">
                        <h2>Eventos de la organización</h2>

                        <div class="loading" *ngIf="!organizerEvents">
                            Cargando ...
                        </div>

                        <div class="loading" *ngIf="organizerEvents && organizerEvents.length == 0">
                            No hay eventos registrados
                        </div>

                        <div *ngIf="organizerEvents">

                            <div class="event-list row">

                                <div class="col-12 col-md-6" *ngFor="let event of organizerEvents">

                                    <div class="event-data card">
                                        <a [routerLink]="['/event', event._id]">
                                            <div class="event-image">
                                                <img src="{{ url + '' + 'get-image/' + event.image }}" alt="{{event.title}}" *ngIf="event.image">
                                                <img src="assets/src/ui/event-default.jpg" alt="{{event.title}}" *ngIf="!event.image">
                                            </div>
                                        </a>
                                        <div class="event-content">
                                            <div class="event-text">
                                                <h2>{{event.title}}</h2>
                                                <small><i class="fa fa-calendar" aria-hidden="true"></i> {{dateFormat(event.date)}}</small>
                                                <div [innerHTML]="(event.content.length>200)? (event.content | slice:0:200)+' ...':(event.content)" class="event-extract"></div>
                                            </div>
                                            <div class="event-actions row">
                                                <div class="col-12 col-lg-8"></div>
                                                <div class="col-12 col-lg-4 read-more">
                                                    <a [routerLink]="['/event', event._id]" class="read-more-btn">Leer más</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                    <div *ngIf="_authService.isLogged() && profile._id == loguedUserId">

                        <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#advancedActions" aria-expanded="false" aria-controls="advancedActions">
                            Acciones avanzadas
                        </button>
                        <div class="collapse" id="advancedActions">
                          <div class="card card-body">
                              <div>
                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteAcountModal">
                                    <i class="fas fa-exclamation-triangle"></i> Elimina cuenta de usuario
                                </button>
                            </div>
                          </div>
                        </div>                        
                    </div>
                </div>
            <!--</div>-->

            <!-- Delete modal -->
            <div class="modal fade" id="deleteAcountModal" tabindex="-1" role="dialog" aria-labelledby="deleteAcountModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="deleteAcountModalLabel">Eliminar cuenta de usuario</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                    La acción de eliminar una cuenta es irreversible, toda la información de este usuario se perderá.
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button (click)="delete()" type="button" class="btn btn-danger"><i class="fas fa-exclamation-triangle"></i> Elimina cuenta de usuario</button>
                    </div>
                </div>
                </div>
            </div>
            <!------------------>
        </div>
    </div>
</main>