<main>
    <div class="container">
        <div class="row login-form">
            <div class="login-img-block d-none d-lg-flex col-4">
                <div class="text">
                    <h1>Bienvenido</h1>
                </div>
                <img src="assets/src/ui/concert.jpg" alt="Event party">
            </div>
            <div class="login-form-block col-12 col-lg-8">
                <form #loginForm="ngForm" (submit)="login()">
                    <div id="errorMesage"></div>
                    <div class="form-group">
                        <label for="email">Correo electrónico</label>
                        <div class="input-container">
                            <i class="fa fa-envelope icon"></i>
                            <input [(ngModel)]="user.email" #email="ngModel" type="email" name="email" class="form-control" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
                        </div>

                        <small *ngIf="!email.valid && email.touched" class="error">El correo electrónico no es válido</small>
                    </div>
                    <div class="form-group">
                        <label for="password">Contraseña</label>
                        <div class="input-container">
                            <i class="fas fa-key icon"></i>
                            <input [(ngModel)]="user.password" #password="ngModel" type="password" name="password" class="form-control password" required>
                            <i id="passVisibility" class="fas fa-eye icon"></i>
                        </div>

                        <small *ngIf="!password.valid && password.touched" class="error">La contraseña no es válida</small>
                    </div>
                    <div>
                        <small class="small-text"><a [routerLink]="['/register']">¿No tienes una cuenta? Regístrate aquí</a></small>
                    </div>
                    <button type="submit" class="btn" [disabled]="loginForm.invalid">Iniciar sesión</button>
                </form>
            </div>
        </div>
    </div>
</main>