/* FUENTES */
@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');
/*font-family: 'Racing Sans One', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
/*font-family: 'Lexend Deca', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,400&display=swap');
/*font-family: 'Roboto', sans-serif;*/

* {
    margin: 0;
    padding: 0;
}

/* Text style */

* {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, header nav ul li a {
    font-family: 'Lexend Deca', sans-serif;
}

body {
    overflow-x: hidden;
    width: 100%;
}

.container {
    margin-top: 70px;
    margin-bottom: 70px;
}

/* GENERAL CSS */

.small-text {
    color: #4e4e50;
}

.small-text a {
    color: #aaaab4;
    transition: .5s;
    text-decoration: none;
}

.small-text a:hover {
    color: #c3083f;
}

.separator-line {
    border-top: solid 1px #c3083f;
    padding: 20px 0;
    margin: 20px 0;
}

/* HEADER STYLES */

header {
    position: fixed;
    width: 100%;
    z-index: 10001;
    box-shadow: 0px 15px 100px 0px rgba(0,0,0,.3);
}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;

    background: #e8e8e8;
}

header ul.active {
    width: 60%!important;
}

header ul.active {
    width: 60%!important;
}

header .auth-mobile .login, header .auth-mobile .register, header .auth-mobile .logout {
    text-align: center;
    padding: 15px 0;
}

header .auth-mobile .login a, header .auth-mobile .register a, header .auth-mobile .logout a {
    color: #FFF;
}

header .auth-mobile .login {
    background: #4e4e50;
}

header .auth-mobile .register {
    background: #c3083f;
}

header .auth-mobile .logout {
    background: #c3083f;
}

header nav ul.nav-links {
    display: flex;
    justify-content: space-around;
    width: 40%;
    margin-bottom: 0;
    right: 0;
    left: auto!important;
}

header nav ul.nav-links div {
    width: 100%;
}

header nav ul.nav-links.active li {
    display: block;
}

header nav div.logo img {
    width: 7em;
}

header nav ul.login-elements {
    display: flex;
    margin-bottom: 0;
    padding: 0;
}

header nav ul.login-elements a {
    color: #FFF;
    text-decoration: none;
    padding: 12px;
    margin: 0 10px;
    text-transform: uppercase;
    border-radius: 10px;
}

header nav ul.login-elements li.login a {
    background: #4e4e50;
}

header nav ul.login-elements li.register a {
    background: #c3083f;
    font-weight: bold;
}

header nav ul.login-elements li.logout a {
    opacity: .8;
    cursor: pointer;
    background: #4e4e50;
    color: #FFF;
    transition: .2s;
}

header nav ul.login-elements li.logout a:hover {
    opacity: 1;
    color: #FFF;
}

header nav ul.login-elements li.login a, header nav ul.login-elements li.register a {
    opacity: .8;
    transition: .2s;
}

header nav ul.login-elements li.login a:hover, header nav ul.login-elements li.register a:hover {
    opacity: 1;
}

header .mobile-login-elements {
    width: 100%;
}

header nav ul li {
    list-style: none;
}

header nav ul.nav-links li a {
    color: #4e4e50;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
}

header nav .burger-button {
    cursor: pointer;
}

header nav .burger-button span {
    position: absolute;
    display: block;
    width: 25px;
    height: 3px;
    background: #c3083f;
    margin: 5px;

    transition: .5s;
}

header nav .burger-button span:nth-child(1) {
    margin-top: -3px;
}

header nav .burger-button span:nth-child(3) {
    margin-top: 13px;
}

header nav .burger-button.active span:nth-child(1) {
    transform: rotate(-45deg);
    margin-top: 0;
}
header nav .burger-button.active span:nth-child(2) {
    opacity: 0;
}
header nav .burger-button.active span:nth-child(3) {
    transform: rotate(45deg);
    margin-top: 0;
}

@media (max-width:991px) {
    body {
        overflow-x: hidden!important;
    }

    header nav ul.nav-links {
        position: absolute;
        right: 0;
        height: 92vh;
        width: 0;
        padding: 0;
        top: 8vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        transition: .5s;
    
        background: #e8e8e8;
    }
    header nav ul.nav-links li {
        display: none;
    }
}

header nav ul li a.nav-link.active, header nav .nav-link:hover {
    color: #c3083f;
    opacity: 1;
}

header nav .nav-link {
    padding: 20px 0px;
    margin: 0px 20px;
    display: inline-block;
    position: relative;
    opacity: 0.75;
}

header nav .nav-link::before {
    transition: 300ms;
    height: 2px;
    content: "";
    position: absolute;
    background-color: #c3083f;
}

header nav .nav-link::before {
    width: 100%;
    bottom: 15px;
    opacity: 0;
}

header nav .nav-link:hover::before {
    bottom: 10px;
    opacity: 1;
}

/* MAIN STYLES */
app-root {
    background: #e3e2de;
}

main {
    margin-top: 70.55px;
    margin-bottom: 20px;
}

/* SLIDER STYLES */

div#slider {
    text-align: center;
    padding: 50px;

    background: #c3083f;
    color: #FFF;
}

#search-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}
.search {
    background: none;
    border-radius: 200px;
    height: 2.5rem;
    display: flex;
    align-items: center;
    transition: all .75s ease-in-out;
}
.search-text {
    border: 0;
    background: transparent;
    outline: 0;
    color: #FFF;
    float: left;
    line-height: 2.5rem;
    width: 0;
    transition: all .5s ease-in-out;
    font-size: 0.8rem;
}
.search-button {
    color: #990c36;
    background: #FFF;
    border-radius: 50%;
    float: right;
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: all .5s ease-in-out;
    border: none;
}

.search-button:hover {
    color: #990c36;
}

.search:hover {
    background: #4e4e50;
}
.search:hover > .search-text {
    width: 12.5rem;
    margin-left: 1rem;
}
.search:hover > .search-button {
    transform: scale(0.75);
}

/* FOOTER STYLES */

footer {
    text-align: center;
    padding: 20px;
    background: #212121;
    color: #FFF;
}

footer .container {
    margin-top: 0;
    margin-bottom: 0;
}

footer .container .row > div {
    padding: 0 50px;
}

footer .logo img{
    width: 150px;
}

footer h2 {
    font-size: 23px;
    color: #c3083f;
    text-align: left;
    padding-bottom: 10px;
    border-bottom: solid 1px #c3083f;
}

footer p.justified {
    text-align: justify;
}

footer small {
    text-align: right;
}

footer small a {
    color: #c3083f;
    text-decoration: none;
}

footer small a:hover {
    color: #990c36;
}

footer .social-media a {
    margin: 0 10px;
    color: #c3083f;
    transition: .5s;
    font-size: 20px;
}

footer .social-media a:hover {
    color: #990c36;
}

footer ul {
    padding: 0;
}

footer ul li {
    list-style: none;
    text-align: left;
    margin: 10px 0;
}

footer ul li a {
    text-decoration: none;
    color: #FFF;
    display: inline-block;
    transition: .2s;
}

footer ul li a:hover {
    color: #990c36;
}

/** Sticky footer */
app-root {
    min-height: 100vh;
    display: flex;
    flex-flow: column;
}

app-footer {
    margin-top: auto;
}

/* Formulario login-register */

app-register .container {
    margin-top: 90px;
    margin-bottom: 0;
}

app-login, app-register {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

app-login main, app-register main {
    margin-top: 0;
    width: 200%;
}

.form-group .input-container {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

.form-group .icon {
    padding: 10px;
    background: #c3083f;
    color: white;
    min-width: 50px;
    text-align: center;
}

.form-group .icon#passVisibility {
    cursor: pointer;
    transition: .2s;
}

.form-group .icon#passVisibility:hover {
    background: #950741;
}

.form-group .input-field {
    width: 100%;
    padding: 10px;
    outline: none;
}

.form-group input.form-control {
    border-radius: 0;
}

.row.login-form, .register-form-block {
    box-shadow: 0px 10px 20px 0px rgba(0,0,0,.2);
}

.login-form-block form, #form-visitor form, #form-organizer form {
    width: 100%;
    
    display: flex;
    flex-direction: column;
}

.login-form-block form .form-group, .register-form-block form .form-group {
    padding: 10px 0;
}

.login-form-block form button, .register-form-block form button {
    margin-top: auto;
    align-self: center;

    background: #c3083f;
    padding: 10px 20px;
    border-radius: 20px;
    color: #FFF;
}

.login-form-block form button:hover, .register-form-block form button:hover {
    background: #990c36;
    color: #FFF;
}

#change-form {
    background: #4e4e50;
    color: #FFF;
}

#change-form:hover {
    background: #1c1c1d;
}

#errorMesage, small.error {
    color: #cc0000;
}

/** Login */

.login-form-block {
    background: #FFF;
    padding: 20px;

    display: flex;
}

.login-img-block {
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-img-block .text {
    position: absolute;
    text-align: center;
    color: #FFF;

    margin: 20px;
    background: #c3083fcc;
    border-radius: 10px;
    padding: 10px;
}

.login-img-block img {
    width: 100%;
    min-height: 100%;
}

/** Register */

.register-form-block {
    background: #FFF;
    width: 50%;
    padding: 0;
}

@media (max-width: 767px) {
    .register-form-block {
        width: 100%;
    }
}

#visitor-info, #organizer-info {
    background: #c3083f;
    color: #FFF;
}

#visitor-info ul li, #organizer-info ul li {
    list-style: none;
}

.register-form-container, #visitor-info, #organizer-info {
    padding: 20px;
}

.active-form {
    display: block!important;
}

#visitor-info, #organizer-info, #form-visitor, #form-organizer {
    display: none;
}

label.rolRadio {
	cursor: pointer;
    width: 100%;
}
label.rolRadio input {
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
	pointer-events: none;
}
label.rolRadio span {
	padding: 7px 14px;
	border: 2px solid #EEE;
	display: inline-block;
	color: #ff7418;
	border-radius: 3px;
	text-transform: uppercase;
    width: 100%;
}
label.rolRadio input:checked + span {
	border-color: #ff7418;
}

@media (min-width: 900px) {
    
}

/* EVENTOS */

.event-list {
    margin: 40px 0;
}

.event-list > div {
    padding: 20px;
}

.event-list .event-data {
    padding: 0;
    box-shadow: 0px 10px 20px 0px rgba(0,0,0,.2);
}

.event-list .event-data .event-image {
    padding: 0;
    height: 150px;
    overflow: hidden;
    display: flex;
    align-items: center;
    border-radius: .25rem .25rem 0 0;
}

.event-list .event-data .event-image img {
    width: 100%;
    min-height: 100%;

    transition: .5s;
}

.event-list .event-data .event-image img:hover {
    transform: scale(1.1);
  }

.event-list .event-data .event-content, .event-list .event-data .event-actions {
    padding: 20px;
}

.event-list .event-data .event-text .event-extract {
    text-align: justify;
}

.event-list .event-data .event-text .event-extract a {
    text-decoration: none;
    color: #c3083f;
}

.event-list .event-data .event-text .event-extract a:hover {
    color: #950741;
}

.paginate {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

.paginate a, .paginate span {
    background: #FFF;
    color: #000;
    text-decoration: none;

    padding: 5px 10px 10px 10px;
    font-size: 25px;

    transition: .5s;
}

.paginate a:hover {
    background: #f3f3f3;
    color: #990c36;
}

.paginate span {
    opacity: .3;
}

.paginate a.previous, .paginate span.previous {
    border-radius: 10px 0 0 10px;
}
.paginate a.next, .paginate span.next {
    border-radius: 0 10px 10px 0;
}

@media (min-width: 768px) {
    .event-list .event-data .event-image {
        height: 250px;
    }
}

/** Leer más */

.event-list .event-data .event-actions .read-more {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.read-more-btn {
    background: #c3083f;
    color: #FFF;
    text-decoration: none;

    padding: 15px 25px;
    transition: all .5s;
    border-radius: 10px;
    position: relative;
}
.read-more-btn::after {
    content: ">";
    position: absolute;
    left: 85%;
    right: 0;
    bottom: 2px;
    opacity: 0;
    transform: translate(-50%, -50%);
}
.read-more-btn:hover {
    background: #950741;
    transition: all 0.5s;
    padding: 15px 2.5rem 15px 15px;
    color: #fff;
}
.read-more-btn:hover::after {
    opacity: 1;
    transition: all 0.5s;
    color: #fff;
}

/** Like button **/

/*.like-container {
    margin: 10px 0;
}

.like-container .like-button {
    padding: 8px 10px;
    border-radius: 25px;
}

.like-container.is-liked .like-button {
    color: #FFF;
    background: #e74c3c;
}

.like-container.not-liked .like-button {
    color: #000;
    background: #eaeaea;
}*/

/* Organizaciones */

.organizer-card {
    box-shadow: 0px 15px 100px 0px rgba(0,0,0,.3);
    margin: 20px;
    padding: 20px;
}

.organizer-card a {
    text-decoration: none;
}

.organizer-card a h3 {
    color: #c3083f;;
}

.organizer-card a:hover h3 {
    color: #950741;;
}

.organizer-card .read-more {
    margin-top: 25px;
}

/* Formulario */

.form-group {
    margin: 15px 0;
}

.image-event-form {
    padding: 12px;
}

div.card.form {
    padding: 20px;
    margin: 10% 0;
}

.image-event-form img {
    width: 150px;
}

.form-event-title {
    align-items: center;
}

.help-button {
    cursor: pointer;
    margin-left: 10px;
    padding: 3px 11px;
    border-radius: 14px;
    background: #3288f4;
    color: #FFF;
    transition: .2s;
}

.help-button:hover {
    background: #1460bd;
}

input[type=date] {
    max-width: 170px;
}

/* Evento individual */

app-event {
    margin-top: 20px;
}

app-event .container.card {
    padding: 0;
}

app-event .container.card .event-image {
    height: 400px;
    overflow: hidden;
    display: flex;
    align-items: center;
    border-radius: .25rem .25rem 0 0;
}

app-event .container.card .event-image img {
    width: 100%;
}

app-event .container.card .event-title-container {
    display: flex;
    align-items: center;
}

app-event .container.card .event-title-container h1 {
    margin-right: 10px;
}

app-event .container.card .event-content {
    padding: 20px;
}

app-event .container .event-text * {
    text-align: justify;
}

app-event .container .event-text a {
    text-decoration: none;
    color: #c3083f;
}

app-event .container .event-text a:hover {
    color: #950741;
}

.event-actions a {
    margin: 0 10px;
}

.modal-header button.close {
    border: none;
    background: transparent;
    font-size: 20px;
}

/** Valoración **/

.add-valoration {
    margin: 20px 0;
}

.valorations {
    border-top: solid 1px #4e4e50;
    padding: 15px;
}

.valorations .valoration-block {
    margin: 10px;
    padding: 10px;
    background: #ebebeb;
    border-radius: 5px;
}

.valorations .valoration-block a {
    color: #4e4e50;
    transition: .5s;
    text-decoration: none;
}

.valorations .valoration-block a:hover {
    color: #c3083f;
}

.valoration-block .rate span:before {
    content: '★ ';
    color: #ffc700;
}

.rate {
    /*float: left;*/
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

/* Perfil */

app-profile {
    margin-top: 20px;
}

app-profile main .container {
    background: #FFF;
}

app-profile main .container > div {
    padding: 20px;
}

.profile-options-buttons a:not(:last-child) {
    margin-right: 10px;
}

/* Event list carousel */

.event-cell {
    width: 300px;
    background: #FFF;
    box-shadow: 0 3px 5px rgba(0,0,0,.3);
    margin: 0 auto;
    padding-bottom: 20px;
}

.event-cell .image img{
    height: 250px!important;
    width: 100%!important;
    object-fit: cover!important;
}

.event-cell .contet {
    padding: 0 20px;
}

.event-cell .contet a {
    text-decoration: none;
    color: #c3083f;
}

.event-cell .contet a:hover {
    color: #990c36;
}

