<main>
    <div class="container">
        <h1>Error 404 esta página no existe </h1>
        <h2>El contenido no se ha encontrado, pruebe a realizar una nueva búsqueda</h2>
        <app-events-last></app-events-last>
    </div>
</main>