<main>
    <div class="container">
        <div class="row">
            <div class="col-md-4 mx-auto register-form-block">

                <div id="visitor-info">
                    <h1>Registrarse como <strong>visitante</strong></h1>
                    <ul>
                        <li>Añade valoraciones de los eventos</li>
                    </ul>
                </div>

                <div id="organizer-info">
                    <h1>Registrarse como <strong>organización</strong></h1>
                    <ul>
                        <li>Registra eventos en la página</li>
                    </ul>
                </div>

                <div class="register-form-container">

                    <div id="change-form" class="btn">Registrarse como organización</div>

                    <div id="errorMesage"></div>

                    <div id="form-visitor">
                        <form #registerFormVisitor="ngForm" (submit)="registerVisitor()">
                            <div class="form-group">
                                <label for="name">Nombre de usuario</label>
                                <div class="input-container">
                                    <i class="fa fa-user icon"></i>
                                    <input [(ngModel)]="user.name" #name="ngModel" type="text" name="name" class="form-control" required>
                                </div>

                                <small *ngIf="!name.valid && name.touched" class="error">El nombre no es válido</small>
                            </div>
                            <div class="form-group">
                                <label for="email">Correo electrónico</label>
                                <div class="input-container">
                                    <i class="fa fa-envelope icon"></i>
                                    <input [(ngModel)]="user.email" #email="ngModel" type="email" name="email" class="form-control" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
                                </div>

                                <small *ngIf="!email.valid && email.touched" class="error">El correo electrónico no es válido</small>
                            </div>
                            <div class="form-group">
                                <label for="password">Contraseña</label>
                                <div class="input-container">
                                    <i class="fas fa-key icon"></i>
                                    <input [(ngModel)]="user.password" #password="ngModel" type="password" name="password" class="form-control password" required>
                                    <i class="fas fa-eye icon passVisibility"></i>
                                </div>

                                <small *ngIf="!password.valid && password.touched" class="error">La contraseña no es válida</small>
                            </div>
                            <div class="form-group">
                                <label for="passwordSecure">Valida la contraseña</label>
                                <div class="input-container">
                                    <i class="fas fa-key icon"></i>
                                    <input [(ngModel)]="user.passwordSecure" #passwordSecure="ngModel" type="password" name="passwordSecure" class="form-control securePassword" required>
                                    <i class="fas fa-eye icon securePassVisibility"></i>
                                </div>

                                <small *ngIf="!passwordSecure.valid && passwordSecure.touched" class="error">La contraseña no es válida</small>
                            </div>
                            <div>
                                <small class="small-text"><a [routerLink]="['/login']">¿Ya tienes una cuenta? Inicia sesión aquí</a></small>
                            </div>
                            <button type="submit" class="btn" [disabled]="registerFormVisitor.invalid">Registrarse</button>
                        </form>
                    </div>

                    <div id="form-organizer">
                        <form #registerFormOrganizer="ngForm" (submit)="registerOrganization()">
                            <div class="form-group">
                                <label for="name">Nombre de la organización</label>
                                <div class="input-container">
                                    <i class="fa fa-user icon"></i>
                                    <input [(ngModel)]="user.name" #nameOrg="ngModel" type="text" name="name" class="form-control" required>
                                </div>

                                <small *ngIf="!nameOrg.valid && nameOrg.touched" class="error">El nombre de la organización no es válido</small>
                            </div>
                            <div class="form-group">
                                <label for="email">Correo electrónico</label>
                                <div class="input-container">
                                    <i class="fa fa-envelope icon"></i>
                                    <input [(ngModel)]="user.email" #emailOrg="ngModel" type="email" name="email" class="form-control" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
                                </div>

                                <small *ngIf="!emailOrg.valid && emailOrg.touched" class="error">El correo electrónico no es válido</small>
                            </div>
                            <div class="form-group">
                                <label for="password">Contraseña</label>
                                <div class="input-container">
                                    <i class="fas fa-key icon"></i>
                                    <input [(ngModel)]="user.password" #passwordOrg="ngModel" type="password" name="password" class="form-control password" required>
                                    <i class="fas fa-eye icon passVisibility"></i>
                                </div>

                                <small *ngIf="!passwordOrg.valid && passwordOrg.touched" class="error">La contraseña no es válida</small>
                            </div>
                            <div class="form-group">
                                <label for="passwordSecure">Valida la contraseña</label>
                                <div class="input-container">
                                    <i class="fas fa-key icon"></i>
                                    <input [(ngModel)]="user.passwordSecure" #passwordSecureOrg="ngModel" type="password" name="passwordSecure" class="form-control securePassword" required>
                                    <i class="fas fa-eye icon securePassVisibility"></i>
                                </div>

                                <small *ngIf="!passwordSecureOrg.valid && passwordSecureOrg.touched" class="error">La contraseña no es válida</small>
                            </div>
                            <div>
                                <small class="small-text"><a [routerLink]="['/login']">¿Ya tienes una cuenta? Inicia sesión aquí</a></small>
                            </div>
                            <button type="submit" class="btn" [disabled]="registerFormOrganizer.invalid">Registrarse</button>
                        </form>
                    </div>

                </div>

            </div>
        </div>
    </div>
</main>