<main>
    <div class="container">
        <div class="card form">
            
            <form #userForm="ngForm" (submit)="updateUser()">
                <div class="form-group">
                    <label for="name" *ngIf="editUser.rol == 'organizer'">Nombre de organización</label>
                    <label for="name" *ngIf="editUser.rol == 'visitor'">Nombre de usuario</label>
                    <input [(ngModel)]="editUser.name" #name="ngModel" type="text" name="name" class="form-control" required>

                    <small *ngIf="!name.valid && name.touched && editUser.rol == 'organizer'" class="error">El nombre de la organización no es válido</small>
                    <small *ngIf="!name.valid && name.touched && editUser.rol == 'visitor'" class="error">El nombre de usuario no es válido</small>
                </div>

                <div class="form-group">
                    <label for="bio">Biografía</label>
                    <ckeditor [(ngModel)]="editUser.bio" [config]="editorConfig" #bio="ngModel" name="bio"></ckeditor>

                    <small *ngIf="!bio.valid && bio.touched" class="error">La biografía no es válido</small>
                </div>

                <input type="submit" class="btn btn-primary" value="Actualizar" [disabled]="userForm.invalid">
            </form>

        </div>
    </div>
</main>