<main>
    <app-slider [content]="'<h1>Descubre los mejores eventos</h1>'"></app-slider>

    <app-search></app-search>

    <div class="container">

        <div class="loading" *ngIf="!events">
            Cargando ...
        </div>

        <div class="loading" *ngIf="events && events.length == 0">
            No hay eventos registrados
        </div>

        <div class="content" *ngIf="events">

            <div class="event-list row">

                <div class="col-12 col-md-6" *ngFor="let event of events">

                    <div class="event-data card">
                        <a [routerLink]="['/event', event._id]">
                            <div class="event-image">
                                <img src="{{ url + '' + 'get-image/' + event.image }}" alt="{{event.title}}" *ngIf="event.image">
                                <img src="assets/src/ui/event-default.jpg" alt="{{event.title}}" *ngIf="!event.image">
                            </div>
                        </a>
                        <div class="event-content">
                            <div class="event-text">
                                <h2>{{event.title}}</h2>
                                <small><i class="fa fa-calendar" aria-hidden="true"></i> {{dateFormat(event.date)}}</small>
                                <div [innerHTML]="(event.content.length>200)? (event.content | slice:0:200)+' ...':(event.content)" class="event-extract"></div>
                            </div>
                            <div class="event-actions row">
                                <div class="col-12 col-lg-8">
                                    
                                </div>
                                <div class="col-12 col-lg-4 read-more">
                                    <a [routerLink]="['/event', event._id]" class="read-more-btn">Leer más</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="paginate">
                <a *ngIf="paginate.previous" [routerLink]="['/events', paginate.previous.page]" class="previous">&laquo;</a>
                <span *ngIf="!paginate.previous" class="previous">&laquo;</span>
                <a *ngIf="paginate.next" [routerLink]="['/events', paginate.next.page]" class="next">&raquo;</a>
                <span *ngIf="!paginate.next" class="next">&raquo;</span>
            </div>

        </div>
    </div>
</main>