<div id="search-container">
    <form #searchForm="ngForm" (ngSubmit)="searchEvents()">
        <div class="search">
            <input type="text" name="search" [(ngModel)]="searchString" placeholder="Buscar..." class="search-text">
            <button type="submit" name="submit" class="search-button"><i class="fas fa-search"></i></button>
        </div>
    </form>
</div>