<footer>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="logo">
                    <a [routerLink]="['/home']"><img src="assets/src/logo.svg" alt="Logo EventHome"></a>
                    <p class="justified">EventHome se encarga de informar a los usuarios sobre los eventos registrados, dando a paso a descubrir nuevas aventuras y experiencias inolvidables.</p>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <h2>Información de contacto</h2>
                <ul>
                    <li><a href="#"><i class="fas fa-envelope"></i> ayuda@eventhome.com</a></li>
                    <li><a href="#"><i class="fas fa-phone"></i> +34 XXX XXX XXX</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-4">
                <h2>Enlaces de interés</h2>
                <ul>
                    <li><a [routerLink]="['/home']">Inicio</a></li>
                    <li><a [routerLink]="['/events']">Eventos</a></li>
                    <li><a [routerLink]="['/organizations']">Organizaciones</a></li>
                </ul>
            </div>
        </div>
        <div class="separator-line social-media">
            <a href="https://twitter.com/" target="_blank" rel="nofollow, noindex"><i class="fab fa-twitter"></i></a>
            <a href="https://facebook.com/" target="_blank" rel="nofollow, noindex"><i class="fab fa-facebook"></i></a>
            <a href="https://instagram.com/" target="_blank" rel="nofollow, noindex"><i class="fab fa-instagram"></i></a>
            <a href="https://youtube.com/" target="_blank" rel="nofollow, noindex"><i class="fab fa-youtube"></i></a>
        </div>
        <div class="row">
            <small>Las imágenes de prueba utilizadas provienen de <a href="https://pxhere.com/" target="_blank" rel="nofollow, noindex">PxHere</a> y <a href="https://unsplash.com" target="_blank" rel="nofollow, noindex">Unsplash</a>.</small>
        </div>
    </div>
</footer>