<h2>Últimos eventos</h2>

<div class="loading" *ngIf="!events">
    Cargando ...
</div>

<div class="content" *ngIf="events">

    <carousel [width]="'100%'" [height]="480" [cellWidth]="300" [loop]="true" [cellosToScroll]="1" [objectFit]="'cover'" [lightDOM]="true" [freeScroll]="true">
        <div class="event-cell carousel-cell" *ngFor="let event of events">
            <div class="image">
                <img src="{{ url + '' + 'get-image/' + event.image }}" alt="{{event.title}}" *ngIf="event.image">
                <img src="assets/src/ui/event-default.jpg" alt="{{event.title}}" *ngIf="!event.image">
            </div>
            <div class="contet">
                <a [routerLink]="['/event', event._id]" class="event-title">
                    <h3>{{event.title}}</h3>
                </a>
                <div [innerHTML]="(event.content.length>150)? (event.content | slice:0:150)+' ...':(event.content)" class="event-extract"></div>
            </div>
        </div>
    </carousel>

</div>