<main>
    <app-slider [content]="'<h1>Conoce a las organizaciones</h1>'"></app-slider>

    <div class="container">

        <h2>Listado de organizaciones</h2>

        <div *ngIf="organizers" class="row organizers-list">

            <div class="col-12 col-md-4" *ngFor="let organizer of organizers">

                <div class="card organizer-card">
                    <a [routerLink]="['/profile', organizer._id]"><h3>{{ organizer.name }}</h3></a>

                    <div class="read-more">
                        <a [routerLink]="['/profile', organizer._id]" class="read-more-btn">Leer más</a>
                    </div>
                </div>

            </div>

        </div>
        
    </div>
</main>