<main>
    <div class="container card" *ngIf = "event">
        <div class="event-image">
            <img src="{{ url + '' + 'get-image/' + event.image }}" alt="{{event.title}}" *ngIf="event.image">
            <img src="assets/src/ui/event-default.jpg" alt="{{event.title}}" *ngIf="!event.image">
        </div>
        <div class="event-content">

            <div class="event-title-container">
                <h1>{{event.title}}</h1>
            </div>

            <div class="date">
                <small><i class="fa fa-calendar" aria-hidden="true"></i> {{dateFormat(event.date)}}</small>
            </div>

            <small class="small-text"><a [routerLink]="['/profile', event.organizerId]">{{ organizer }}</a></small>

            <div [innerHTML]="event.content" class="event-text"></div>

            <div *ngIf="_authService.isLogged() && event.organizerId == loguedUserId" class="event-actions">
                <a [routerLink]="['/event/edit', event._id]" class="btn btn-primary"><i class="fas fa-edit"></i> Editar información del evento</a>
                <a (click)="delete(event._id)" class="btn btn-danger"><i class="fas fa-trash-alt"></i> Eliminar evento</a>
            </div>

            <div class="valorations-container">
                <h2>Valoraciones</h2>

                <div *ngIf="isVisitor == true" class="add-valoration">
                    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#valorationForm">
                        Valora este evento
                    </button>
                    
                    <div class="modal modal-centered fade" id="valorationForm" tabindex="-1" role="dialog" aria-labelledby="valorationForm" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="valorationForm">Valora este evento</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>

                            <form #valorateForm="ngForm" (submit)="valorate()">
                                <div class="modal-body">                                
                                    <div class="form-group rate">
                                        <input type="radio" id="star5" [(ngModel)]="newValoration.rate" #rate="ngModel" name="rate" value="5" required/>
                                        <label for="star5">5 stars</label>
                                        <input type="radio" id="star4" [(ngModel)]="newValoration.rate" #rate="ngModel" name="rate" value="4" />
                                        <label for="star4">4 stars</label>
                                        <input type="radio" id="star3" [(ngModel)]="newValoration.rate" #rate="ngModel" name="rate" value="3" />
                                        <label for="star3">3 stars</label>
                                        <input type="radio" id="star2" [(ngModel)]="newValoration.rate" #rate="ngModel" name="rate" value="2" />
                                        <label for="star2">2 stars</label>
                                        <input type="radio" id="star1" [(ngModel)]="newValoration.rate" #rate="ngModel" name="rate" value="1" />
                                        <label for="star1">1 star</label>
                                    </div>

                                    <div class="form-group">
                                        <ckeditor [(ngModel)]="newValoration.content" [config]="editorConfig" #content="ngModel" name="content" required></ckeditor>
                                        <small *ngIf="!content.valid && content.touched">El contenido no es válido</small>
                                    </div>
                                </div>
                            
                                <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                <input type="submit" class="btn btn-success" value="Valorar" [disabled]="valorateForm.invalid">
                                </div>
                            </form>
                        </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="valorations && valorations.length > 0" class="valorations">
                    <div class="row valoration-block" *ngFor="let valoration of valorations">
                        <div class="col-12 col-md-6">
                            <a [routerLink]="['/profile', valoration.userId]">{{valoration.userName}}</a>
                        </div>
                        <div class="col-12 col-md-6 rate">
                            
                            <!--<li *ngFor='let in of counter(valoration.rate) ;let i = index'>{{i}}</li>-->
                            <span *ngFor="let in of counter(valoration.rate) ;let i = index"></span>
                        </div>
                        <div [innerHTML]="valoration.content" class="col-12 comment"></div>
                    </div>
                </div>
                <div *ngIf="valorations && valorations.length <= 0" class="no-valorations">
                    Este evento no tiene valoraciones
                </div>
            </div>
        </div>

    </div>
</main>