<main>
    <div class="container">
        <div class="card form">
            
            <form #eventForm="ngForm" (submit)="publishEvent()">
                <div class="d-flex form-event-title">
                    <h1>{{fomr_title}}</h1>

                    <!-- Button help modal -->
                    <span class="help-button" data-toggle="modal" data-target="#helpEventModal">
                        ?
                    </span>
                    
                    <!-- Help modal -->
                    <div class="modal fade" id="helpEventModal" tabindex="-1" role="dialog" aria-labelledby="helpEventModalTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="helpEventModalLongTitle">Ayuda - Eventos</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                            <p>Los eventos són el contenido principal de <strong>Event Home</strong>. Todos los eventos se listan en el apartado "Eventos", ordenados por fecha de publicación.</p>
                            <p>Un evento está compuesto por un <strong>título</strong>, su <strong>contenido</strong> y una <strong>imagen</strong>.</p>
                            <p>El <strong>título</strong> será lo primero en lo que el usuario se va a fijar, debe de ser corto y que llame la atención.</p>
                            <p>Usa el bloque de <strong>contenido</strong> para indicar sobre de que trata el evento, este debe describir a la perfección todo lo que deseas transmitir.</p>
                            <p>Un estímulo visual ayudará a que los usuarios se fijen en el evento, puedes escoger una <strong>imagen</strong> de referencia del evento. Este recurso no es obligatorio. Si no indicas ninguna se colocará una imagen predefinida de Event Home.</p>
                            </div>
                        </div>
                        </div>
                    </div>

                </div>
                
                <div class="form-group">
                    <label for="title">Título del evento</label>
                    <input [(ngModel)]="newEvent.title" #title="ngModel" type="text" name="title" class="form-control" required>

                    <small *ngIf="!title.valid && title.touched" class="error">El título no es válido</small>
                </div>

                <div class="form-group">
                    <label for="date">Fecha del evento</label>
                    <input [(ngModel)]="newEvent.date" #date="ngModel" type="date" name="date" class="form-control" required>

                    <small *ngIf="!date.valid && date.touched" class="error">La fecha no es válida</small>
                </div>

                <div class="form-group">
                    <label for="content">Contenido</label>
                    <ckeditor [(ngModel)]="newEvent.content" [config]="editorConfig" #content="ngModel" name="content" required></ckeditor>

                    <small *ngIf="!content.valid && content.touched" class="error">El contenido no es válido</small>
                </div>
                <div class="form-group">

                    <div class="image-event-form" *ngIf="is_edit">
                        <img src="{{ url + '' + 'get-image/' + newEvent.image }}" alt="{{newEvent.title}}" *ngIf="newEvent.image">
                        <img src="assets/src/ui/event-default.jpg" alt="{{newEvent.title}}" *ngIf="!newEvent.image">
                    </div>

                    <angular-file-uploader
                        [config]="afuConfig"
                        (ApiResponse)="imageUpload($event)"
                    ></angular-file-uploader>
                </div>

                <input type="submit" class="btn btn-primary" value="Publicar" [disabled]="eventForm.invalid">
            </form>

        </div>
    </div>
</main>